@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;500&family=PT+Sans+Narrow:wght@400;700&family=Poppins&family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
}

header,
footer {
    height: 100px;
    min-width: 100%;
}

body{
    background-color: rgba(25,25,35,255);
}

.nav-link {
    text-shadow: 0 0 5px gray;
}

nav{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

#about {
    position: fixed;
}

#aboutbtn{
    display: none;
}

aside>header{
    padding: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
}

aside>header>h5{
     font-family: 'Poppins', sans-serif;
     font-size: 14px;
     font-weight: bold;
}

aside>header>p{
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
}

.container>.row #fixed {
    height: 610px;
}

.content {
    margin-left: 380px;
    padding-left: 3%;
    padding-right: 2%;
}


/* Side Bar Menu Media */
@media(max-width:1439px) {
            #about{
                display: none;
            }
            #aboutbtn{
                display: inline-block;
            }
            .content{               /*All Other Content*/
                margin-left: 0;
                width: 100%;
            }

}

@media(max-width:767px){
    .offcanvas{
        width: 85%;
    }
}

/* Side Bar Menu */
.sidebar::after{
    content: "";
    position: absolute;
    z-index: 1;
}

.sidebar>.offcanvas{
        z-index: 100;    
}

.offcanvas{
    background-color: rgba(32,32,42,255);
}

/* Circle Progress Bar */

  
  .circle-wrap {
    margin: 150px auto;
    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    border: 2px solid #000000;
  }

  .circle-wrap .circle .mask,
  .circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
  }
  
  .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #ffc107;
  }
  
  .circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  .mask.full,
  .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(180deg);
  }
  
  @keyframes fill{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }

  .circle-wrap .inside-circle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: #20202a;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #bababf;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}