@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;500&family=PT+Sans+Narrow:wght@400;700&family=Poppins&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* {
    margin: 0;
    padding: 0;
  }

header,
footer {
    height: 100px;
    min-width: 100%;
    padding-top: 10px;
}

header{
  display: flex;
  flex-direction: row;
}

body{
    background-color: rgba(25,25,35,255);
}

nav{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

#about {
    position: fixed;
}

#aboutbtn{
    display: none;
}

@media(min-width:769px){
          #aboutbtn{
            margin-right: 15%;
          }
}

aside>header{
    padding: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
}

aside>header>h5{
     font-family: 'Poppins', sans-serif;
     font-size: 14px;
     font-weight: bold;
}

aside>header>p{
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
}

.container>.row #fixed {
    height: 610px;
}

.content {
    margin-left: 380px;
    padding-left: 3%;
    padding-right: 2%;
    margin-bottom: 19px;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Side Bar Menu /////////////////////////////////////////////////////////////////*/
.sidebar::after{
    content: "";
    position: absolute;
    z-index: 1;
}

.sidebar>.offcanvas{
        z-index: 100;    
}

.offcanvas{
    background-color: rgba(32,32,42,255);
}

.offcanvas-body{
  min-height: 100vh;
}

.offcanvas aside .col-5{
          font-size: 13px;
}

.offcanvas footer{
  height: 40px;
  padding-top: 7px;
}

.offcanvas .container-fluid{
  font-family: 'Poppins', sans-serif;
}

@media(max-width:1439px) {
  #about{
      display: none;
  }
  #aboutbtn{
      display: inline-block;
  }
  .content{               /*All Other Content*/
      margin-left: 0;
      width: 100%;
      }

}

@media(max-width:767px){
.offcanvas{
width: 85%;
}
}

@media(min-width:427px) and (max-width:1025px){


}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Circle Progress Bar ///////////////////////////////////////////////////////*/

svg{
  width: 30px;
  height: 50px;    
  transform: rotate(-90deg);
  overflow: initial;
} 

circle{
  stroke-width:10px;
  fill:none;    
}
circle:nth-child(1){ stroke: #fff }
circle:nth-child(2){
  stroke: #ffc107; 
  z-index: 1;    
}

.circle_box{
  font-size: 13px;
  color: #fff;
  text-align: center;
}
.circle_box div{
  position: relative;
}
.circle_box span{
  position: absolute;
  left: 0;
  margin-left: 110px;
  color: #fff;
  font-size: 15px;
}
  
.circle_box h5{
  font-family: 'Courier Prime', monospace;
  font-size: 15px;
}

strong{
  left: -10;
  margin-right: 25px;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ About //////////////////////////////////////////////////////////////*/

.container-fluid{
    padding: 30px 0 15px;
}

.container-fluid>.row .col-12{
            font-size: 13px;
            font-family: 'Poppins', sans-serif;
}

h5{
  color: #8C8C8E;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

aside>footer>.container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
}

aside>footer i{
        margin-left: 15px;
        color: #8C8C8E;
}

aside>footer a{
      font-size: 16px;
      color: #7e7e81;
}

aside>footer i:hover{
      color: #ffc107;
}

aside .col-5{
   font-family: 'Poppins', sans-serif;
   font-size: 13px;
}

aside li{
  list-style: none;
}

.righttext{
  color: #7e7e81;
}

aside ul{
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

aside ul>li::before{
  content: '✓ ';
  color: #ffc107;
}

.number{
  top: -40px;
  left: -14px;
}

.title{
top: -45px;
}

.progresstext{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.progress-bar{
  animation: progress 1500ms ease-in 1;
}

@keyframes progress{
    from{
      width: 0%;
    }
}

@property --num1 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --num2 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --num3 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --num4 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --num5 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

#nbr {
  counter-reset: num1 var(--num1);
  animation: animate 1750ms forwards ease;
}

#nbr:before {
  content: counter(num1);
}

#nbr2 {
  counter-reset: num2 var(--num2);
  animation: animate 1750ms forwards ease;
}

#nbr2:before {
  content: counter(num2);
}

#nbr3 {
  counter-reset: num3 var(--num3);
  animation: animate 1750ms forwards ease;
}

#nbr3:before {
  content: counter(num3);
}

#nbr4 {
  counter-reset: num4 var(--num4);
  animation: animate 1750ms forwards ease;
}

#nbr4:before {
  content: counter(num4);
}

#nbr5 {
  counter-reset: num5 var(--num5);
  animation: animate 1750ms forwards ease;
}

#nbr5:before {
  content: counter(num5);
}

@keyframes animate {
  to {
    --num1: 75;
    --num2: 35;
    --num3: 55;
    --num4: 15;
    --num5: 35;
  }
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Banner //////////////////////////////////////////////////////////////////////////*/
.banner {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 0px;
}

.banner:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.901),rgba(128, 128, 128, 0.801),rgba(0, 0, 0, 0.901));
}

.banner div h2{
    color: #ffc107;
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    font-weight: bolder;
}

#typewriter{
    display: inline-flex;
    font-size: 16px;
    font-family: 'Courier Prime', monospace;
}

#typewriter a{
  text-decoration: none;
  color: #ffc107;
}

#typewriter i{
  color: #ffc107;
}

@media(max-width:767px){
          .banner img{
            display: none;
          }
}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Bio ////////////////////////////////////////////////////////////////////////*/
.bio{
 
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.bio ul{
  list-style: none;
  margin-left: 10px;
}

.bio ul>li::before{
  content: '✓ ';
  color: #ffc107;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Work & Education ///////////////////////////////////////////////////////////////////*/
#history {
  flex-direction: column;
  align-items: center;
}
/* TIMELINE CONTAINER */
.timeline {
  display: flex;
  flex-direction: column;
}
/* TIMELINE CARDS */
.timeline-section,
.timeline-modal {
  color: white;
  margin: 2.5%;
  box-shadow: 0vw 0px 1vw #ffc107;
  backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  width: 50%;
}
.timeline-section:nth-of-type(even) {
  flex-direction: row-reverse;
  text-align: right;
}
.timeline-section:nth-of-type(odd) {
  align-self: flex-end;
}

.h2work{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* TIMELINE CARD CONTENT */
.timeline-header {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: center;
  padding: 20px;
  background-color: var(--blueGray4);
  text-transform: uppercase;
}
.timeline-content {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.timeline-title,
.timeline-heading {
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.timeline-role {
  font-size: 0.8rem;
}
.timeline-description {
  margin-bottom: 20px;
}
.timeline-content ul {
  list-style-type: none;
}
.timeline-content li {
  border-bottom: 2px solid #ffc107;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.timeline-modal {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(-11px, -11px);
  /* display: none; */
  transition: all 0.3s linear;
  z-index: -20;
  opacity: 0;
}
.timeline-modal.active {
  /* display: flex; */
  top: 0;
  opacity: 1;
  z-index: 1;
}
.timeline-modal-button {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: var(--blueGray9);
  border: none;
  outline: none;
  color: white;
  padding: 5px;
}
.timeline-section .timeline-btn {
  background-color: var(--blueGray4);
  border-radius: 0;
  margin-top: 20px;
  font-size: 1rem;
}
@media screen and (max-width: 790px) {
  .timeline-section,
  .timeline-modal {
    height: fit-content;
    flex-direction: column;
    width: 100%;
  }
  .timeline-modal.active {
    height: 100%;
  }
  .timeline-section:nth-of-type(even) {
    text-align: left;
    flex-direction: column;
  }
  .timeline-section:nth-of-type(odd) {
    align-self: flex-start;
  }
  .timeline-header {
    writing-mode: unset;
    transform: rotate(0deg);
  }
  .timeline-content {
    padding: 20px;
  }
  .timeline-title,
  .timeline-heading {
    font-size: 1rem;
  }
}

.timeline{
  font-family: 'Poppins', sans-serif;
}

#HeadingWork{
  font-family: 'Share Tech', sans-serif;
  text-shadow: 0vw 0vw 1vw white;
  text-decoration: underline;
  text-decoration-color: rgba(52, 10, 107, 0.8) ;
}

.timeline-header{
  background-color: rgb(40, 40, 51);
  color: #ffc107;
  font-family: 'Poppins', sans-serif;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Testimonial ///////////////////////////////////////////////////////////*/
.card{
  width: 450px;
  height: 250px;
  padding: 30px;
  background-color: #2c2c38;
  font-family: 'Poppins', sans-serif;
  color: #8C8C8E;
}

.card-title{
    color: white;
    margin: 5px 0 15px;
}

.card-subtitle{
    font-size: 12px;
}

#cardimg{
  width: 65px;
  height: 65px;
  position: absolute;
  left: 350px;
  top: -25px;
  z-index: 51;
  border-radius: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

#moveimg{
  width: 65px;
  height: 65px;
  position: absolute;
  left: 300px;
  top: 5px;
  z-index: 51;
  border-radius: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

@media(min-width:426px) and (max-width:768px){
              .carousel{
                margin-left: 17%;
              }
              .carousel-indicators{
                margin-right: 200px;
              }
}

@media(min-width:376px) and (max-width:426px){
          .card{
            width: 400px;
          }
          #cardimg{
            left: 290px;
          }
}

@media(max-width:376px){
          .card{
            width: 360px;
          }
          #moveimg{
            left: 250px;
          }
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Projects /////////////////////////////////////////////////////////////////////*/
.projects-container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.projects-container img, .modal-body img{
    max-height: 400px;
    max-width: 100%;
    object-fit: cover;
} 

.modal-dialog{
      min-width: 75%;
}

.modal-content{
  background-color: #2c2c38;
  color: #fff;
}

.modal-body a{
  color: #2c2c38;
}

.git{
  margin-left: 80px;
  margin-top: 10px;
  transition: transform 1s ease-in-out;
}
   
.git:hover{
      transform: scale(1.1);
}           

.netlify{
  margin-left: 125px;
  margin-top: 10px;
  transition: transform 1s ease-in-out;
}

.netlify:hover{
       transform: scale(1.1);
    }

@media(max-width: 1024px){
      .git{
            width: 75px;
            height: 75px;
            margin-left: 50px;
          }

      .netlify{
                width: 75px;
                height: 75px;
                margin-left: 75px;
              }    

      }

@media(max-width:427px){
          .ModalLink{
            font-size: 10px !important;
          }
          .PText{
            font-size: 15px !important;
          }
}      

.closemodal{
      color: #ffc107;
}     

.PContain {
  position: relative;
}

.POverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(45, 41, 41, 0.819);
}

.PContain:hover .POverlay {
  opacity: 1;
}

.PText {
  color: #8C8C8E;
  font-size: 30px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
}

.ModalLink{
    color: #ffc107;
    font-size: 18px;
    text-decoration: none;
}

.ModalLink:hover{
    color: #ffc107;

}

.modal-title{
    color: #ffc107;
    font-size: 17px;
}

.modal-body{
  /* font-family: 'Courier Prime', monospace; */
  font-family: 'Poppins', sans-serif;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Contact Form //////////////////////////////////////////////////////*/
.formC{
  background-color: #2c2c38;
}

textarea{
      background-color: #24242f;
      border: 0;
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
      height: 81px;
      padding: 15px 15px 2px;
      width: 100%;
}

input, textarea{
  color: #868887;
}

form input[type=text]{
      border-radius: 0%;
      background-color: #24242f;
      border: 0;
      height: 50px;
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
      color: white;
}

form input[type=text]:focus{
  background-color: #24242f;
  color: white;
}

form i{
  width: 50px;
  height: 100%;
  padding-top: 12px;
  background-color: #191920;
  color: #868887;
  font-size: 15px;
}
form .col-8{
  width: 100%;
}

.btnsubmit{
   border-radius: 0;
   left: 0;
   display: flex;
   width: 177px;
   height: 45px;
   font-size: 13px;
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Footer //////////////////////////////////////////////////////////////////*/

footer{
  background-color: #2c2c38;
  height: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 17px 30px 7px;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  color: #868887;
}

@media(max-width:426px){
          footer{
            height: 90px;
          }

}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Extras ///////////////////////////////////////////////////////////////////*/
h2{
  font-size: 25px;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #8C8C8E;
}

::-webkit-scrollbar-thumb {
  background: #ffc107;
}

#about, #history, #testimonial, #projects{
  scroll-behavior: smooth;
  scroll-margin-block-start: 120px;
}